body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: antiquewhite;
}
h1 {
  margin-left: 10px;
  font-size: 24px;
}
label {
  font-size: 12px;
  margin-left: 3px;
  margin-top: 10px;
}

#test-app {
    display: flex;
  flex-wrap: wrap;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100px;
  background-color: whitesmoke;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 400px;
  margin: 10px;
  padding: 10px;
}

/* .input {
  background-color: lightgreen;
} */

.error {
  background-color: rosybrown;
}

#status {
  background-color: whitesmoke;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 10px 5px;
  padding: 10px;
}

.status-display {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  /* height: 40px; */
}